<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Many As Penny (MAP) Tracker</title>

    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="content-wrapper">
        <nav>
            <ul>
                {% if current_user.is_authenticated %}
                    <li><strong>{{ current_user.email }}</strong></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flash-messages">
            {% for category, message in messages %}
              <li class="flash-{{ category }}">
                {{ message }}
                <span class="close-flash" onclick="this.parentElement.style.display='none';">&times;</span>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <footer class="footer-card">
        <div class="footer-content">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" class="github-logo">
            <span>
                Created by 
                <a href="https://github.com/mikelisondra" target="_blank" rel="noopener noreferrer">
                    Mike Jay-R B. Lisondra
                </a>
            </span>
        </div>
    </footer>

</body>
</html>